# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [4]:
a=23
b=3.14
c="University"
print("The Values are :\n",a, "\n",b,"\n",c,"\n",a>b)

The Vakues are :
 23
 3.14
 University
 True

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [27]:
a=23
b=3.14
c="University"
print("The Values are :",a,"-",b,"-",c,"-",a<b )
print("Ssuet",3,3.14,False,sep='-')

The Values are : 23 - 3.14 - University - False
Ssuet-3-3.14-False

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [28]:
# type your code here
print("Pakistan",end=' ')
print(123,end=' ')

Pakistan 123

In [10]:
print("HelloHi")

HelloHi

4) Can a python print function take no value to print???

In [11]:
Yes

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [14]:
name="Ahmed"
Age=30
profession="Lawer"
BS_Year=2005
joining_year=2015
height=5.10
weight=70600
income=200000
print("Name :",Name,"\n Age :",Age,"\n Profession :",profession,"\n BS_Year :",BS_Year,"\n","\n Height :",height,"\n Weight :",weight,"\n Income",income)

Name : Ahmed
 Age : 30
 Profession : Lawer
 BS_Year : 2005
 Height : 5.1
 Weight : 70600
 Income 200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [17]:
#type your code here 
current_year =2023
passout_year=2005
print(current_year-passout_year)

18

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [21]:
joining_year=2015
current_year =2023
print("Mr Ahmed's  Working Tenure is :",current_year-joining_year)

Mr Ahmed's  Working Tenure is : 8

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [37]:
income=200000
dollar_rate=285
income_usd=income/dollar_rate
print("Mr Ahmed Income in Dollar is : ", round(income_usd,1))

Mr Ahmed Income in Dollar is :  701.8

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [46]:
print(type(income_usd))
if(type=='')
print("Income in float Value : ",income_usd)
print("Income in integer Value : ",int(income_usd))

<class 'float'>
Income in float Value :  701.7543859649123
Income in integer Value :  701

10) Print the type of Mr. Ahmed's weight.  Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [25]:
print(type(weight))
a=1000
print("The Weight in Kilograms is :", weight/a)

<class 'int'>
The Weight in Kilograms is : 70.6

11) print the year of birth of Mr. Ahmed.

In [26]:
print("Birth Year is :",current_year-Age)

Birth Year is : 1993

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [45]:
x=100
y=6
print(x//y )
print(x%y )

16
4

In [4]:
sum=0
a=[1,2,3,4,5]
for i in a:
    sum=sum+i
print(sum)

15

In [6]:
mul=1
a=[1,2,3,4,5]
for i in a:
    mul=mul*i
print(mul)

120

In [8]:
max_value=0
a=[1,2,34,4,5,501,-2,-999]
for i in a:
    if(max_value<i):
        max_value=i
    else:
        continue
print(max_value)

501

In [9]:
min_value=0
a=[1,2,34,4,5,501,-2,-999]
for i in a:
    if(min_value>i):
        min_value=i
    else:
        continue
print(min_value)

-999

In [14]:
text_list=['abc','1234','xyzx','abaabf','14561']
val=[]
for i in text_list:
    if(len(i)>=2):
        if(i[0]==i[-1]):
            val=val.append[i]
print(val)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [21]:
text_list=['abcba','1234','xyzx','abaabf','14561']
for i in text_list:
    if(len(i)>=2):
        if(i[0]==i[-1]):
            print(i)
            print(f"{i[0]} and {i[-1]}" )

abcba
a and a
xyzx
x and x
14561
1 and 1

In [27]:
a=[1,2,34,4,5,501,-2,-999]
sortedd=[]
for i in a:
    if(a[i]<a[i+1]):
        sortedd.append(a[i])
    else:
        a[i]=a[i+1]
        sortedd.append(a[i])
        
print(sortedd)

IndexError: list index out of range

In [ ]:
listt=[a,d,s,c,v,s,,t,a,e,i,t]
list.

In [3]:
a = [10,20,30,20,10,50,60,40,80,50,40,100]

dup_items = set()
uniq_items = []
for x in a:
    if x not in dup_items:
        uniq_items.append(x)
        dup_items.add(x)

print(dup_items)
print(uniq_items)

{100, 40, 10, 80, 50, 20, 60, 30}
[10, 20, 30, 50, 60, 40, 80, 100]